Soham Jakapure 25070123110

Exp3 : Study of Tuple in python

In [ ]:
tpl1=(2,2.5,True,"anurag")
print(tpl1)

(2, 2.5, True, 'anurag')

In [ ]:
tpl2=("apple", "orange","banana","cherry")
print(tpl2[1])
print(tpl2[-3])

orange
orange

In [ ]:
tpl3=("apple", "orange","banana")
tpl3[1]="kiwi"
print(tpl3)

#Tupple is immutable

TypeError: 'tuple' object does not support item assignment

In [ ]:
tpl4=(10,)*5
print(tpl4)

(10, 10, 10, 10, 10)

In [ ]:
tpl6=(1,2,3)
tpl7=(4,5)
tpl8=tpl6+tpl7
print(tpl8)

(1, 2, 3, 4, 5)

In [ ]:
tpl9=("apple","banana","orange")
tpl10=("mango", )
tpl9 += tpl10
print(tpl9)

('apple', 'banana', 'orange', 'mango')

In [ ]:
tpl9=["apple","banana","orange"]
tpl10=["mango", ]
tpl9 += tpl10
print(tpl9)
print("after:", id(tpl9))

['apple', 'banana', 'orange', 'mango']
after: 140716180424064

In [ ]:
#Problem_1:
#Create tuple of student marks.
#Display highest and lowest marks.
#calculate average marks.
#sort the marks in ascending order.
marks = (28,76,52,92,45)
print(len(marks))
print(max(marks))
print(min(marks))
print(sum(marks)/len(marks))
print(sorted(marks))

5
92
28
58.6
[28, 45, 52, 76, 92]

In [1]:
#Problem_2:
#A student's exam result is stored in a tuple containg three fixed fields.
#Display Subject name , marks, and grade.
#Check whether the student has scored 75 or more marks and print "distinction".
tpl=("Python",96,"A")
student_exam_result = ("Mathematics", 88, "A")
marks_obtained = student_exam_result[1]

print(f"Subject: {student_exam_result[0]}, Marks: {marks_obtained}, Grade: {student_exam_result[2]}")

if marks_obtained >= 75:
    print("Distinction!")
else:
    print("No Distinction.")

Subject: Mathematics, Marks: 88, Grade: A
Distinction!

In [2]:
#problem_3:
#""An organization records an employee's daily attendance for a week
#using a tuple""
#store the attendance record in a tuple.
#Count and display the total no. of present days.
#Count and display total no. of absent days.
#Check whether the employee was absent at least once.
#During the recorded period and display an appropriate message.

Attendance= ("p","A","P","P","A","P","A")
print("total no. of days present:",Attendance.count("P"))
print("total no. of days absent:",Attendance.count("A"))
if "A" in Attendance:
  print("employee was absent atleast once")
else:
  print("Employee was not absent even once")

total no. of days present: 3
total no. of days absent: 3
employee was absent atleast once